@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, "Arial", "Tahoma";
    font-size: 14px;
    line-height: 1.6;
}



header {
    width: 100%;
    height: 70px;
    background-color: #15263e;
    position: fixed;
    z-index: 999;
}

#navbar {
    text-align: center;
    list-style-type: none;
    font-family: "Lobster Two";
}

#navbar li {
    position: relative;
    width: 150px;
    display: inline-block;
    padding: 13px 0;
}

#navbar li a {
    font-size: 2em;
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
}

#navbar li a:after {
    content: "\25BF";
    color: #fff;
    padding-left: 5px;
    position: absolute;
    top: 15px;
}

#promo-contaier {
    width: 100%;
    height: 728px;
    background-image: url("../images/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.promo-overlay {
    width: 100%;
    height: 728px;
    background-color: rgba(35, 45, 80, 0.75);
    overflow: auto;
}

.promo-content {
    width: 50%;
    height: 300px;
    margin: 200px auto;
    color: #fff;
    text-align: center;
}

.promo-content h2 {
    font-size: 4em;
    text-transform: uppercase;
}

.promo-content h1 {
    opacity: 1;
    font-size: 6em;
    background-image: linear-gradient(45deg, #a21af0 20%, #c514d8 30%, #ff0072 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: 1;
}

.promo-content h3 {
    font-size: 1.2em;
    text-transform: uppercase;
}

#cv-btn {
    width: 150px;
    height: 30px;
    margin-top: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(45deg, #a21af0 20%, #c514d8 30%, #ff0072 50%);
}

#about {
    width: 100%;
    height: 400px;
    background-color: #fff;
    margin-bottom: 20px;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.grid {
    margin: 0 -15px;
}

.grid:before,
.grid:after {
    display: table;
    content: "";
}

.grid:after {
    clear: both;
}

.col-3 {
    width: 25%;
    position: relative;
    float: left;
    min-height: 1px;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    position: relative;
    float: left;
    min-height: 1px;
    padding: 0 15px;
}

.grid>.col-3>h2 {
    width: 200px;
    text-align: center;
    margin: 30px auto 0;
    color: #282828;
    font-size: 2em;
}

.grid>.col-3:first-child>h3 {
    width: 200px;
    text-align: right;
    margin: 0 auto 15px;
    color: #a21af0;
    margin-bottom: 15px;
}

#profile-img {
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 400px;
}

.progress-txt {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.progress-bar {
    position: relative;
    color: #fff;
    font-size: 10px;
    text-align: center;
    width: 250px;
    height: 12px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin: 0 auto 5px;
    background-image: linear-gradient(45deg, #a21af0 0%, #ff0072 100%);
}

.w-80 {
    background-image: linear-gradient(45deg, #a21af0 80%, rgb(253, 0, 118), #ff0072);
}

.w-70 {
    background-image: linear-gradient(45deg, #a21af0 70%, rgb(253, 0, 118), #ff0072);
}

.progress-bar-active {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 20px 20px;
    animation: active 2s linear infinite;
}



#info {
    height: 100px;
    background-color: #dcdcde;
}

.col-4 {
    width: 33%;
    position: relative;
    float: left;
    min-height: 1px;
    padding: 0 15px;
}

.col-4>.info-wrapper {
    width: 300px;
    margin: 10px auto;
    height: 80px;
}

.col-4>.info-wrapper::before,
.col-4>.info-wrapper::after {
    display: table;
    content: "";
}

.col-4>.info-wrapper::after {
    clear: both;
}

.col-4>.info-wrapper>.info-icon {
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #374362;
    float: left;
}

.col-4>.info-wrapper>.info-txt {
    float: left;
    margin: 10px;
}

.col-4>.info-wrapper>.info-icon>.icon {
    font-size: 25px;
    color: #fff;
    padding: 10px 20px;
    width: 20px;
    height: 20px;
}
#portfolio {
    display: block;
}

.cssgrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1em;
}





/* Keyframes */
@keyframes bodyAnimation {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes active {
    0% {
        background-position: 40px 0;
    }
    100% {
        background-position: 0 0;
    }
}